<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="https://jakarta.ee/xml/ns/jakartaee" 
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" 
id="WebApp_ID" version="5.0">
  <display-name>WalletControl</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>  
  </welcome-file-list>
  <servlet>
  		<servlet-name>cadastrarReceita</servlet-name>
  		<servlet-class>wallet.controller.cadastrarReceitaController</servlet-class>
  </servlet>
  <servlet>
  		<servlet-name>listarReceitas</servlet-name>
  		<servlet-class>wallet.controller.listarReceitasController</servlet-class>
  </servlet>
  <servlet>
  		<servlet-name>modificarReceitas</servlet-name>
  		<servlet-class>wallet.controller.modificarReceitasController</servlet-class>
  </servlet>
  <servlet>
  		<servlet-name>editarReceita</servlet-name>
  		<servlet-class>wallet.controller.editarReceitasController</servlet-class>
  </servlet>
  <servlet>
  		<servlet-name>adicionarReceita</servlet-name>
  		<servlet-class>wallet.controller.buscarContasSelectController</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>cadastrarReceita</servlet-name>
  		<url-pattern>/cadastrarReceita</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  		<servlet-name>listarReceitas</servlet-name>
  		<url-pattern>/listarReceitas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  		<servlet-name>modificarReceitas</servlet-name>
  		<url-pattern>/modificarReceitas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  		<servlet-name>editarReceita</servlet-name>
  		<url-pattern>/editarReceita</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  		<servlet-name>adicionarReceita</servlet-name>
  		<url-pattern>/adicionarReceita</url-pattern>
  </servlet-mapping>
</web-app>